# Create dat file for xpress mp

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_excel('data_optim.xls')

In [4]:
hours = df.Heure.tolist()

In [5]:
prix = df.Prix.tolist()

In [6]:
dat = [hours,prix]

### Create dat file

In [7]:
headers =['HOURS','PRICE']

In [8]:
comment = '!data for optim_teeco.mos'

In [9]:
f = open("data.dat", "a")
f.write(comment+'\n')
for (i,h) in enumerate(headers):
    f.write(f'{h}: {dat[i]} \n')
f.close()

## Try with python

### State of charge

### 3 façons de décider 

Plusieurs points : 

* Si il y a une charge à une heure, pas de décharge sur la même heure (pas possible)
* Décharge si prix[h+1] > prix[h]/$\rho$
<br>
<br>
* Afficher les cycles de charges & décharges
* Afficher les charges & les décharges 
* Pas de décharge partielle du coup car il faut une heure pour charger & une heure pour décharger

### Initialisation des vecteurs

In [10]:
# Paramètres
rho = 0.8
Emax = 1 
Pmax = 1
### Vecteurs de decisions
SoC = [0]*len(prix)
charge = [0]*len(prix)
decharge = [0]*len(prix)
# Revenus
profits = [0]*len(prix)

### State of charge

In [11]:
def calc_soc(soc,ec,edc,rho=0.8):
    s1 = soc+ec-rho*edc
    return(s1)
calc_soc(0,1,0.5)

0.6

### Calcul des revenus

In [26]:
df['Prix_rho'] = rho*df['Prix']

##### Store hours of charge & discharge

In [31]:
df['Prix_rho'][743]

30.960000000000004

In [53]:
df1 = pd.DataFrame()
df1['Heure'] = df['Heure']
for i in range(1,24):
    l = []
    for j in range(len(df)):
        if i>j : 
            l.append(np.nan)
        else :
             l.append(df['Prix_rho'][i]-df['Prix'][j-i])
    df1[f'{i}'] = l

In [74]:
df.head(4)

   Heure   Prix  Prix_rho
0      0  41.88    33.504
1      1  38.60    30.880
2      2  36.55    29.240
3      3  32.32    25.856

In [88]:
df1[df1>0].iloc[24:48,1:].sum()

1       7.060
2       1.760
3       0.000
4       0.000
5       0.000
6       0.000
7       0.000
8       0.000
9       0.000
10      0.000
11      0.000
12      0.000
13      0.000
14      0.000
15      0.000
16      0.398
17     28.240
18     74.190
19    100.834
20     70.010
21     26.400
22     24.132
23      0.000
dtype: float64

In [80]:
df1[df1>0].iloc[:24,1:]

,1,2,3,4,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.47,2.92,0.378,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.18,4.39,4.608,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.15,5.10,6.078,2.896,NaN,NaN,NaN

### compare max & sum 
### Si consécutif choisir le max

In [89]:
df2 = df1.iloc[:24,1:]

In [91]:
df2[df2>0]

,1,2,3,4,5,6,7,8,9,10,...,14,15,16,17,18,19,20,21,22,23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,0.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.47,2.92,0.378,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.18,4.39,4.608,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.15,5.10,6.078,2.896,NaN,NaN,NaN

### Pic toujours au même moment

In [ ]:
df1.iloc[7]

In [94]:
v1 = df2[df2>0]

In [104]:
int(v1.max().sort_values(ascending=False).index[0])

19

In [ ]:
def analyzeday(df):
    df = df[df>0]
    ### Sum heure par heure vs

#### Compare cumsum & max method

In [178]:
df3 = pd.DataFrame()
dif = np.zeros((31,23))
maxmat = np.zeros((31,23))
day = np.zeros((31,2))
mat = np.zeros((745,3))
for i in range(31):
    for j in range(23):
        dif[i][j]= df1[df1>0].iloc[i*24:(i+1)*24,j+1].sum()
        maxmat[i][j] =  df1[df1>0].iloc[i*24:(i+1)*24,j+1].max()
    if dif[i][0] > max(maxmat[i]):
        # Plus intéressant de faire des charges décharges sucessives que d'attendre le max 
        day[i][0] = 1 
    else : 
        day[i][1] = 1

In [184]:
120//31

3

Séparer chaque jour car pas utile d'attendre plusieurs jours avec le stockage plein

* Comparer deux situations; charge& décharge successives sur la journée 
* Attendre un max

In [179]:
df2 = df1[df1>0].copy()
filld = False
mat = np.zeros((745,3)) ## première colonne : heure_decharge & deuxième colonne ; décalage choisit ; profit réalisé
for i in range(len(df2)):
    if day[i//31][0] == 1 :
        ## Plusieurs charges & recharges sur la journnée 
        if df2['1'][i]>0:
            mat[i][]
    if day[i//31][1] == 1 :

array([[0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [142]:
2*24

48

In [57]:
mat = np.zeros((745,3))
## première colonne : heure_decharge & deuxième colonne ; décalage choisit ; profit réalisé

#### Day instructions

### Create a solution

random solution -> pick a path & delay after

In [ ]:
i = 0 
rdn = 2
while i<len(df1):
    # Choisir le moment pour charger & pour décharger

In [ ]:
random solution :

In [67]:
df1[df1>0].iloc[:48,:].sum()

Heure    1128.000
1          12.000
2           1.760
3           0.000
4           0.000
5           0.000
6           0.000
7           0.000
8           0.000
9           0.000
10          0.000
11          0.000
12          0.000
13          0.000
14          0.000
15          0.000
16          0.398
17         34.040
18         86.600
19        111.898
20         72.906
21         26.400
22         24.132
23          0.000
dtype: float64

### Calculer le profit réalisable en fonction du décalage

In [58]:
for i in range(len(df1)):

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       ...,
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])